/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* Estilização do header */
header {
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button_header {
    color: black;
}

.linha_header {
    width: 10rem;
    background-color: black;
    height: 0.1rem;
    border-radius: 50px;
}

header h1 {
    margin-bottom: 0.5rem;
}

/* Estilização do menu */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

nav li {
    display: inline;
}

nav a {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    border: black 0.12rem solid;
    border-radius: 50px;
}

/* Estilo do conteúdo principal */
main {
    padding: 2rem;
}

.main_main {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.section_img {
    width: 10vw;
    display: flex;
    justify-content: right;
    padding-right: 4rem;
    align-items: center;
    margin-left: 7rem;
    border-right: black 0.12rem solid;
}

.section_img img {
    width: 16rem;
}

.index_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 32.5rem;
    justify-content: center;
    gap: 1rem;
    padding-left: 4rem;
    border-left: black 0.12rem solid;
}

.index_body h2 {
    font-size: 3.5rem;
    width: 27rem;
}

.index_body p {
    font-size: 2.5rem;
    width: 25rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555;
    font-size: 0.8rem;
    padding-block: 1rem;
}

/* Estilo para ocultar elementos */
.hidden {
    display: none;
}

/* Estilização do Popup */
.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup form {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;  /* largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup h3 {
    margin-bottom: 1rem;
}

.popup input[type="text"],
.popup input[type="date"],
.popup button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button[type="submit"] {
    background: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup button[type="submit"]:hover {
    background: #0056b3;
}

.popup #closePopupBtn {
    background: #ccc;
    cursor: pointer;
}

.popup #closePopupBtn:hover {
    background: #aaa;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #007BFF; /* Cor do ícone */
    font-size: 1.2rem; /* Tamanho do ícone */
    transition: color 0.3s;
}

.icon-btn:hover {
    color: #0056b3; /* Cor do ícone ao passar o mouse */
}

/* Pode querer estilizar de forma diferente dependendo da ação */
.icon-btn.delete {
    color: #dc3545; /* Cor vermelha para a ação de excluir */
}

.icon-btn.delete:hover {
    color: #b02130; /* Cor vermelha ao passar o mouse */
}

.menu_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.seta_baixo {
    background-color: black;
    padding: 0.5rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.seta_baixo img {
    width: 3rem;
}

.section_livros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
    border-radius: 30px;
}

.section_autores {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
    border-radius: 30px;
}

.section_editoras {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
    border-radius: 30px;
}

.div_livros {
    background-color: black;
    display: flex;
    width: 100%;
    height: 20rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    justify-content: center;
}

.div_livros img {
    width: 20rem;
}

.div_autores {
    background-color: black;
    display: flex;
    width: 100%;
    height: 20rem;
    padding-block: 1rem;
    justify-content: center;
}

.div_autores img {
    width: 20rem;
}

.div_editoras{
    background-color: black;
    display: flex;
    width: 100%;
    height: 20rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    justify-content: center;
}

.div_editoras img {
    width: 20rem;
}

.div_p {
    color: black;
    background-color: white;
    font-size: 1.5rem;
    width: 15rem;
    text-align: center;
}

.section_p {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.div_button {
    border: 2px black solid;
    border-radius: 20px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    color: black;
    font-size: 1.2rem;
}

.div_button:hover {
    background-color: black;
    color: white;
}